<h4>Error Interno del servidor - refrescando la pagina podria dispar el error! </h4>
<ng-container *ngIf="error">
    <h5 class='text-danger'>Error: {{error.message}}</h5>
    <p class="font-weight-bold">Nota: Si tu estas viendo esto, probablemte Angular no es el culpable</p>
    <p>Qué acer a continación?</p>
    <ol>
        <li>Abre la herramenta de desarrollo de chrome</li>
        <li>Inspecciona la pestaña de network</li>
        <li>Verifique la solicitud fallida</li>
        <li>Examine la URL de la solicitud; asegúrese de que sea correcta.</li>
        <li>Reproduzca el error en Postman: si vemos la misma respuesta, entonces el problema no es con Angular</li>
    </ol>
    <p>El siguiente es el stack trace: ¡aquí es donde debe comenzar su investigación!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>